body{
    margin:5%;
}
.green{
    color: green;
}
.red{
    color: red;
}
.btn{
    width:33%;
    background-color: #FFFFFF;
}
#nopText{
    text-align: center;
    width:34%;
    border: none;
}
#nop{
    border: solid;
    width: 10%;
}
#adults{
    text-align: center;
    width:10%;
    border: solid;
}