body{
    margin:5%;
}
.green{
    color: green;
}
.red{
    color: red;
}
.btn{
    width:33%;
    background-color: #fcf8e3;
}
#nopText{
    text-align: center;
    width:34%;
    border: none;

}
#nop{
    width: 100%;
}
#adults{
    text-align: center;
    width:100%;
}
.numOfAdults{
    width: 44%;
    float: left;
    background-color: #fcf8e3;
    border-radius: 2px;
    margin: 3%;
}
#personCount{
    width: 30%;
}
#totalTravellerDisplay{
    text-align: center;
    background-color: #fcf8e3;
}